
header {
    text-align:center;
    color: black;
    font-size:medium;
}

#foto_principal { 
    display: block;
    margin: auto;
}

h1 {
    color: beige;
}

body {
    background-color: rgba(251, 241, 241, 0.752);
}

nav ul p {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}


.pipe_nav {
    color: black;
    font-size:medium;
}

#nombre_principal {
    background-color:rgb(5, 13, 161);
}