
header {
    text-align:center;
    color: black;
    font-size:medium;
}

#foto_principal { 
    display: block;
    margin: auto;
}


nav ul p {
    color: black;
    display: inline-block;
    text-align:center;
}

.pipe_nav {
    color: black;
    font-size:medium;
}

#nombre_principal {
    background-color:rgb(86, 169, 99);
}